.bg-fire {
    background: #cc0303 !important;
}

.font-fire {
    color: #cc0303
}

.action-btn {
    background-color: transparent;
    border: 2px solid #cc0303;
    color: #fff;
}
.action-btn::before {
  background-color: #cc0303;
}
.feature-icon {
  font-size:60px;
  color:#ffae42 !important
}
.blog-title {
  color:#ffae42 !important
}
.contact-icon {
  background-color:#ffae42 !important
}
.login-btn {
    background: #cc0303 !important;
    font-weight: 600 !important;
}

.login-btn:hover {
    background: #f51a1a !important;
}

.auth-menu {
    display: flex;
    align-items: center;
}

@media (max-width: 995px) {
    .slider-content {
        display: block;
    }
}
